#colors-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    height: 75px;
    width: 75px;
    background-color: pink;
    text-align: center;
    margin: 20px;
    border: none;
}
